<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<script type="text/javascript">
    var cachebuster = Math.round(new Date().getTime() / 1000);
    //document.write('<link rel="stylesheet" type="text/css" href="css/index.css?cb=' +cachebuster+'"></li' + 'nk>');
    document.write('<link rel="stylesheet" type="text/css" href="http://bigreni.com/css/bridgeport/index.css?cb=' +cachebuster+'"></li' + 'nk>');
</script>
<!--<link rel="stylesheet" type="text/css" href="http://bigreni.com/css/bridgeport/index.css" />-->
<!--<link rel="stylesheet" type="text/css" href="css/index.css" />-->
<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
<title>GBT Favorites</title>
<link rel="stylesheet" href="css/jquery.sidr.dark.min.css">
<script src="js/jquery.sidr.min.js"></script>
</head>
<body onload="loadFavorites();">
    <script type="text/javascript" src="cordova.js"></script>
    <!--<script type="text/javascript" src="http://bigreni.com/js/bridgeport/favorites.js"></script>-->
<!--    <script type="text/javascript" src="js/favorites.js"></script>-->
    <script type="text/javascript">
        document.write('<script type="text/javascript" src="http://bigreni.com/js/bridgeport/favorites.js?cb=' +cachebuster+'"></scr' + 'ipt>');
        //document.write('<script type="text/javascript" src="js/favorites.js?cb=' +cachebuster+'"></scr' + 'ipt>');
    </script>	

	<script type="text/javascript" src="js/jsrender.min.js"></script>
	<script type="text/javascript" src="js/jquery.cookie.js"></script>    <div id="fullpage" data-role="page">
		<div id="contentBox" class="box">
                 <h3>Favorites</h3>
            <div>
                <ul id="lstFaves" data-role="listview">
                </ul>
            </div>
		</div>
	<!-- Templates for stop times-->
	<script id="errorTemplate" type="text/x-jquery-tmpl">
		<div id="resultBox" class="errorBox"><table><tr><td>{{:error}}</td></tr></table></div>
	</script><script id="stopTemplate" type="text/x-jquery-tmpl">
		<div id="resultBox" class="resultBox">
			<h2>{{:heading}}</h2>
			<table>
				{{for stops[0].crossings}}
				<tr>
					<td class="stopTime">
						{{if predTime}}
							{{if countdown}} 
								{{:countdown}}
							{{else}}
								{{:predTime}} {{:predPeriod}}
							{{/if}}
							{{if #parent.parent.parent.data.showScheduled == true}}
								<p class="stopLabel">Scheduled at {{:schedTime}} {{:schedPeriod}}</p>
							{{/if}}
						{{else}}
							{{:schedTime}} {{:schedPeriod}}
								{{if cancelled}}
									<p class="stopCancelledLabel">Cancelled</p>
								{{else}}
							<p class="stopLabel">Scheduled time shown</p>
						{{/if}}
							{{/if}}
					</td>
					{{if destination}}
						<td class="stopTime">{{:destination}}</td>
					{{/if}}
				</tr>
				{{/for}}
				<tr>
					<td class="timeLabel" colspan="2">Last updated at {{:updateTime}} {{:updatePeriod}}</td>
				</tr>
			</table>
		</div>
	</script>    <div id="footer">
      <div class="col-xs-12 navbar-inverse navbar-fixed-bottom">
      <div class="row" id="bottomNav">
        <div class="col-xs-6 text-center"><a href="index.html"><i class="glyphicon glyphicon-time"></i><br>Arrivals</a></div>
        <div class="col-xs-6 text-center"><a href="javascript:loadFaves();"><i class="glyphicon glyphicon glyphicon-star-empty"></i><br>Favorites</a></div>
      </div>
      </div>
    </div>

        <script type='text/javascript' src="js/bootstrap.min.js"></script></div>
</body>
</html>
