/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
	width: 100%;
	height: 100%;
	margin: 0 0 20px 0;
	padding: 0 0 70px 0;
	overflow: auto;
    background-color: #fee7b9;
}

div#fullpage {
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
}

a.langOption{
    color: white;
    text-decoration: none;
}

a.langOption:hover
{
    color: white;
}

a
{
    color: white;
    text-decoration: none;
}

/*a.linklocal:link
{
    color: #333;    
}*/

/* visited link */
a:visited
{
    color: white;
}

/* mouse over link */
a:hover
{
    color: #333;
}

/* selected link */
a:active
{
    color: white;
} 

h4.selectLanguage {
    margin: 0 0 10px 0;
    text-decoration: none;
    text-shadow: none;
    padding: 5px 0 5px 0;
    background-color: #002a5c;
}

h3 {
margin: 0;
}

ul {
    list-style: none;
    padding: 0 10px 0 10px;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}


@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


.hidden { display: none !important; visibility: hidden; }

div.wait, img.wait { padding-bottom: 5px; width: 20px; height: 20px; }

div.errorBox { opacity: 0; margin-bottom: 30px; }

.errorBox table { font-size: 16px; margin: 20px auto; color: #9d0020; }
.errorBox td { text-align: center; }

div.resultBox { opacity: 0; margin-bottom: 30px; }
.resultBox table { margin: 20px auto; }
.resultBox td { text-align: center; }

.resultBox td.stopTime
{
	color: #000;
	font-size: 1em;
	padding: 3px 10px;
}

.resultBox td.timeLabel
{
	color: #000;
	font-size: 12px;
	padding-top: 10px;
}

h2 { text-shadow: 1px 1px 0px #000; }

table.routeBox { margin: 3px 3px 7px 3px; }
table.routeBox td { padding: 1px; vertical-align: middle; }
table.routeBox tr.closer td { padding-top: 0px; }

p.stopLabel, p.stopCancelledLabel
{
	color: #555;
	font-size: 10px;
	padding: 0;
	margin-top: -5px;
}

p.stopCancelledLabel
{
	color: #9f0020;
	font-size: 16px;
	font-weight: bold;
}

  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }

h1, h2
{
	margin-left: auto; margin-right: auto;
	text-align: center;
	color: #091636;
	text-shadow: 0px 0px 0px #000;
}

select
{
	width:100%;
	background-color: #CCC;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: none;
    text-align: left;
}

option.displayNone
{
	display:none;
}

select.seleccion
{
    font-size: medium;
	margin-bottom : 10px;
}

.favorites{
    border:none; 
    background-color:green; 
    color:black;
}

.premium{
    color: white;
    border: 0;
    background-color: #71ce73;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    box-shadow: 0px 3px 0px 0px rgba(102, 172, 100, 1);
    letter-spacing: 0.07em;
    transition: all 0.4s ease;
}

/*select#MainMobileContent_stopList
{
    -webkit-appearance: none;
    font-size: 10px;
}*/

/****Subscription Page*******/

.pricingTable {
    margin: 40px auto;
}
.pricingTable > .pricingTable-title {
    text-align: center;
    color: #6e768d;
    font-size: 3em;
    font-size: 300%;
    margin-bottom: 20px;
    letter-spacing: 0.04em;
}
.pricingTable > .pricingTable-subtitle {
    text-align: center;
    color: #b4bdc6;
    font-size: 1.8em;
    letter-spacing: 0.04em;
    margin-bottom: 60px;
}
@media screen and (max-width: 480px) {
    .pricingTable > .pricingTable-subtitle {
        margin-bottom: 30px;
   }
}
.pricingTable-firstTable {
    list-style: none;
    padding-left: 2em;
    padding-right: 2em;
    text-align: center;
}
.pricingTable-firstTable_table {
    vertical-align: middle;
    width: 31%;
    background-color: #fff;
    display: inline-block;
    padding: 0px 30px 40px;
    text-align: center;
    max-width: 320px;
    transition: all 0.3s ease;
    border-radius: 5px;
}
@media screen and (max-width: 767px) {
    .pricingTable-firstTable_table {
        display: block;
        width: 90%;
        margin: 0 auto;
        max-width: 90%;
        margin-bottom: 20px;
        padding: 10px;
        padding-left: 20px;
   }
}
@media screen and (max-width: 767px) {
    .pricingTable-firstTable_table > * {
        display: inline-block;
        vertical-align: middle;
   }
}
@media screen and (max-width: 480px) {
    .pricingTable-firstTable_table > * {
        display: block;
        float: none;
   }
}
@media screen and (max-width: 767px) {
    .pricingTable-firstTable_table:after {
        display: table;
        content: '';
        clear: both;
   }
}
.pricingTable-firstTable_table:hover {
    transform: scale(1.08);
}
@media screen and (max-width: 767px) {
    .pricingTable-firstTable_table:hover {
        transform: none;
   }
}
.pricingTable-firstTable_table:not(:last-of-type) {
    margin-right: 3.5%;
}
@media screen and (max-width: 767px) {
    .pricingTable-firstTable_table:not(:last-of-type) {
        margin-right: auto;
   }
}
.pricingTable-firstTable_table:nth-of-type(2) {
    position: relative;
}
@media screen and (max-width: 767px) {
    .pricingTable-firstTable_table:nth-of-type(2) h1 {
        padding-top: 8%;
   }
}
.pricingTable-firstTable_table:nth-of-type(2):before {
    content: 'Most Popular';
    position: absolute;
    color: white;
    display: block;
    background-color: #3bbdee;
    text-align: center;
    right: 15px;
    top: -25px;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    box-sizing: border-box;
    font-size: 0.5em;
    padding-top: 22px;
    text-transform: uppercase;
    letter-spacing: 0.13em;
    transition: all 0.5s ease;
}
@media screen and (max-width: 988px) {
    .pricingTable-firstTable_table:nth-of-type(2):before {
        font-size: 0.6em;
   }
}
@media screen and (max-width: 767px) {
    .pricingTable-firstTable_table:nth-of-type(2):before {
        left: 10px;
        width: 45px;
        height: 45px;
        top: -10px;
        padding-top: 13px;
   }
}
@media screen and (max-width: 480px) {
    .pricingTable-firstTable_table:nth-of-type(2):before {
        font-size: 0.8em;
   }
}
.pricingTable-firstTable_table:nth-of-type(2):hover:before {
    transform: rotate(360deg);
}
.pricingTable-firstTable_table__header {
    font-size: 1.6em;
    padding: 40px 0px;
    border-bottom: 2px solid #ebedec;
    letter-spacing: 0.03em;
}
@media screen and (max-width: 1068px) {
    .pricingTable-firstTable_table__header {
        font-size: 1.45em;
   }
}
@media screen and (max-width: 767px) {
    .pricingTable-firstTable_table__header {
        padding: 0px;
        border-bottom: none;
        float: left;
        width: 33%;
        padding-top: 3%;
        padding-bottom: 2%;
   }
}
@media screen and (max-width: 610px) {
    .pricingTable-firstTable_table__header {
        font-size: 1.3em;
   }
}
@media screen and (max-width: 480px) {
    .pricingTable-firstTable_table__header {
        float: none;
        width: 100%;
        font-size: 1.8em;
        margin-bottom: 5px;
   }
}
.pricingTable-firstTable_table__pricing {
    font-size: 3em;
    padding: 30px 0px;
    border-bottom: 2px solid #ebedec;
    line-height: 0.7;
}
@media screen and (max-width: 1068px) {
    .pricingTable-firstTable_table__pricing {
        font-size: 2.8em;
   }
}
@media screen and (max-width: 767px) {
    .pricingTable-firstTable_table__pricing {
        border-bottom: none;
        padding: 0;
        float: left;
        clear: left;
        width: 33%;
   }
}
@media screen and (max-width: 610px) {
    .pricingTable-firstTable_table__pricing {
        font-size: 2.4em;
   }
}
@media screen and (max-width: 480px) {
    .pricingTable-firstTable_table__pricing {
        float: none;
        width: 100%;
        font-size: 3em;
        margin-bottom: 10px;
   }
}
.pricingTable-firstTable_table__pricing span:first-of-type {
    font-size: 0.35em;
    vertical-align: top;
    letter-spacing: 0.15em;
}
@media screen and (max-width: 1068px) {
    .pricingTable-firstTable_table__pricing span:first-of-type {
        font-size: 0.3em;
   }
}
.pricingTable-firstTable_table__pricing span:last-of-type {
    vertical-align: bottom;
    font-size: 0.3em;
    letter-spacing: 0.04em;
    padding-left: 0.2em;
}
@media screen and (max-width: 1068px) {
    .pricingTable-firstTable_table__pricing span:last-of-type {
        font-size: 0.25em;
   }
}
.pricingTable-firstTable_table__options {
    list-style: none;
    padding: 15px;
    font-size: 0.9em;
    border-bottom: 2px solid #ebedec;
}
@media screen and (max-width: 1068px) {
    .pricingTable-firstTable_table__options {
        font-size: 0.85em;
   }
}
@media screen and (max-width: 767px) {
    .pricingTable-firstTable_table__options {
        border-bottom: none;
        padding: 0;
        margin-right: 10%;
   }
}
@media screen and (max-width: 610px) {
    .pricingTable-firstTable_table__options {
        font-size: 0.7em;
        margin-right: 8%;
   }
}
@media screen and (max-width: 480px) {
    .pricingTable-firstTable_table__options {
        font-size: 1.3em;
        margin-right: none;
        margin-bottom: 10px;
   }
}
.pricingTable-firstTable_table__options > li {
    padding: 8px 0px;
}
@media screen and (max-width: 767px) {
    .pricingTable-firstTable_table__options > li {
        text-align: left;
   }
}
@media screen and (max-width: 610px) {
    .pricingTable-firstTable_table__options > li {
        padding: 5px 0;
   }
}
@media screen and (max-width: 480px) {
    .pricingTable-firstTable_table__options > li {
        text-align: center;
   }
}
.pricingTable-firstTable_table__options > li:before {
    content: '✓';
    display: inline-flex;
    margin-right: 15px;
    color: white;
    background-color: #74ce6a;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 0.8em;
    padding: 2px;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 1068px) {
    .pricingTable-firstTable_table__options > li:before {
        width: 14px;
        height: 14px;
        padding: 1.5px;
   }
}
@media screen and (max-width: 767px) {
    .pricingTable-firstTable_table__options > li:before {
        width: 12px;
        height: 12px;
   }
}
.pricingTable-firstTable_table__getstart {
    color: white;
    border: 0;
    background-color: #71ce73;
    margin-top: 30px;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px;
    box-shadow: 0px 3px 0px 0px rgba(102, 172, 100, 1);
    letter-spacing: 0.07em;
    transition: all 0.4s ease;
}
@media screen and (max-width: 1068px) {
    .pricingTable-firstTable_table__getstart {
        font-size: 0.95em;
   }
}
@media screen and (max-width: 767px) {
    .pricingTable-firstTable_table__getstart {
        margin-top: 0;
   }
}
@media screen and (max-width: 610px) {
    .pricingTable-firstTable_table__getstart {
        font-size: 0.9em;
        padding: 10px;
   }
}
@media screen and (max-width: 480px) {
    .pricingTable-firstTable_table__getstart {
        font-size: 1em;
        width: 50%;
        margin: 10px auto;
   }
}
.pricingTable-firstTable_table__getstart:hover {
    transform: translateY(-10px);
    box-shadow: 0px 40px 29px -19px rgba(102, 172, 100, 0.9);
}
@media screen and (max-width: 767px) {
    .pricingTable-firstTable_table__getstart:hover {
        transform: none;
        box-shadow: none;
   }
}
.pricingTable-firstTable_table__getstart:active {
    box-shadow: inset 0 0 10px 1px rgba(102, 165, 100, 1), 0px 40px 29px -19px rgba(102, 172, 100, 0.95);
    transform: scale(0.95) translateY(-9px);
}
@media screen and (max-width: 767px) {
    .pricingTable-firstTable_table__getstart:active {
        transform: scale(0.95) translateY(0);
        box-shadow: none;
   }
}
